<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>Icon-60.png</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>originalIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIcons/originalIcon-20</string>
					<string>AltIcons/originalIcon-29</string>
					<string>AltIcons/originalIcon-40</string>
					<string>AltIcons/originalIcon-60</string>
					<string>AltIcons/originalIcon-76</string>
					<string>AltIcons/originalIcon-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>outsetIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIcons/outsetIcon-20</string>
					<string>AltIcons/outsetIcon-29</string>
					<string>AltIcons/outsetIcon-40</string>
					<string>AltIcons/outsetIcon-60</string>
					<string>AltIcons/outsetIcon-76</string>
					<string>AltIcons/outsetIcon-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>insetIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>originalIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIcons/originalIcon-20</string>
					<string>AltIcons/originalIcon-29</string>
					<string>AltIcons/originalIcon-40</string>
					<string>AltIcons/originalIcon-60</string>
					<string>AltIcons/originalIcon-76</string>
					<string>AltIcons/originalIcon-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>outsetIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIcons/outsetIcon-20</string>
					<string>AltIcons/outsetIcon-29</string>
					<string>AltIcons/outsetIcon-40</string>
					<string>AltIcons/outsetIcon-60</string>
					<string>AltIcons/outsetIcon-76</string>
					<string>AltIcons/outsetIcon-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>insetIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Reboot</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Reboot</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.dave1482.powerapp.Reboot</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Shutdown</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Shutdown</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.dave1482.powerapp.Shutdown</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Respring</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Respring</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.dave1482.powerapp.Respring</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Safemode</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Safe Mode</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.dave1482.powerapp.SafeMode</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>supportsAlternateIcons</key>
	<true/>
</dict>
</plist>
